name: Go CI

on:
  push:
    branches:
      - 'main'
      - 'develop'
      - 'feature/**'
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4' # (sugestão: usar a mesma versão que no job de integração)
          cache: true

      - name: Go vet
        run: go vet ./...

      - name: Run unit tests
        run: go test ./... -race -coverprofile=coverage.out

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.out

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # ideal alinhar com o job de unit-tests depois
          cache: true

      # Opcional, só pra debug se algo der errado com o Docker
      - name: Check Docker
        run: docker version

      - name: Run integration tests (Testcontainers)
        run: |
          go test ./... -tags=integration -run 'TestIntegration|Integration'
